/* body {
    display: flex;
    justify-content: center;
}
probs use another div*/

.container {
  max-width: 800px;
margin-left: auto;
margin-right: auto;
}

.row {
  display: flex;
}

.column-one-third {
  width: calc(100% / 3);
}

.column-one-fourth {
  display: flex;
  width: calc(100% / 4);
}

img {
  width: 100%;
}
